body {
    background-color: rgb(217, 211, 211);
}

h1 {
    color: white;
    font-size: 16px;
    font-family: 'arial';
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    gap: 10px;
}

.dropdown {
    position: absolute;
    top: 65px;
    right: 0;
    margin-right: 40px;
    background-color: aliceblue;
    width: 15%;
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
}

.dropdown h1 {
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 13px
}

.triangle {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid aliceblue;
}

hr {
    opacity: 1;
    margin: 5px 0;
    padding-left: 20px;
    padding-right: 20px;
}

.exit-button {
    display: flex;
    flex-direction: row;
    border-width: 0px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    align-items: center;
    padding-left: 20px
}

.exit-button:hover {
    background-color: rgb(212, 212, 212)
}

.textArea {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 85vh;
}

.textArea textArea {
    background-color: rgb(31, 0, 77);;
    scrollbar-color: #555 #1e1e1e;
    width: 50%;
    font-size: large;
    padding: 10px;
    resize: none;
    max-height: min-content;
    color: white;
    border-radius: 10px;
}

.textArea textArea::-webkit-scrollbar {
    width: 8px;
}

.textArea textArea::placeholder {
    color: white;
    opacity: 1;
}

.enterButton {
    position: absolute;
    background: transparent;
    border: none;
    bottom: 11.8%;
    right: 26%;
}

.enterButton:hover {
    cursor: pointer;
}