body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 16px;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    gap: 10px;
}

.dropdown {
    position: absolute;
    top: 65px;
    right: 0;
    margin-right: 40px;
    background-color: aliceblue;
    width: 15%;
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
}

.dropdown h1 {
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 13px
}

.triangle {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid aliceblue;
}

hr {
    opacity: 1;
    margin: 5px 0;
    padding-left: 20px;
    padding-right: 20px;
}

.exit-button {
    display: flex;
    flex-direction: row;
    border-width: 0px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    align-items: center;
    padding-left: 20px
}

.exit-button:hover {
    background-color: rgb(212, 212, 212)
}

.textAreaContainer {
    position: relative;
    width: 50%;
}

.textArea {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
}

.textArea textArea {
    background-color: rgb(31, 0, 77);;
    scrollbar-color: #555 #1e1e1e;
    width: 100%;
    font-size: large;
    font-family: Arial;
    padding: 10px;
    resize: none;
    max-height: 200px;
    color: white;
    border-radius: 50px;
    padding: 12px 48px 12px 12px;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    align-content: center;
}

.textArea textArea::-webkit-scrollbar {
    width: 8px;
}

.textArea textArea::placeholder {
    color: white;
    opacity: 0.8;
}

.enterButton {
    position: absolute;
    right: 20px;
    bottom: 16px;
    background: transparent;
    border: none;
}

.enterButton:hover {
    cursor: pointer;
}

.enterButton:disabled {
  cursor: not-allowed;
}

.chatContainer {
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 50%;
    height: calc(90vh - 160px);
    overflow-y: auto;
    flex: 1;
    margin-bottom: 100px;
}

.messageBubble {
    max-width: 70%;
    padding: 10px 14px;
    border-radius: 14px;
    margin-bottom: 8px;
    word-wrap: break-word;
}

.userBubble {
    align-self: flex-end;
}

.agentBubble {
    align-self: flex-start;
}

.messageText {
    font-size: 18px;
    color: whitesmoke;
}

.messageText ul,
.messageText ol {
  padding-left: 20px;
  font-family: Arial;
}

.messageText li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial;
}

.copyright {
    color: white;
    font-size: small;
    justify-self: center;
    opacity: 0.6;
    margin-top: 8px;
}